<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pizza Design</title>
    <!--    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">-->
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="#">Link</a>-->
                <!--                </li>-->
                <a class="nav-link active" th:href="@{/all}">All |</a>
                <a class="nav-link active" th:href="@{/home}">Home |</a>
                <a class="nav-link active" th:href="@{/orders/current}">Current Order |</a>

                <form method="POST" th:action="@{/logout}" id="logoutForm">
                    <button type="submit" value="Logout" class="btn btn-secondary mb-3">Logout</button>
                </form>

                <!-- Nav item with a dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" action="#"
                       id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Other Forms
                    </a>

                    <!-- Dropdown content -->
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{'/home'}">Item 1</a>
                        <a class="dropdown-item" th:href="@{'/all'}">Item 2</a>
                        <a class="dropdown-item" th:href="@{'/registration'}">Item 3</a>
                    </div>
                </li>
            </ul>

        </div>

    </div>

</nav>

<body>
<div class="container">
    <h1> Welcome </h1>
    <!--    <div th:if="${#authorization.expression('isAuthenticated()')}">-->
    <!--&lt;!&ndash;        <p>Welcome, <span th:text="${#httpServletRequest.getRemoteUser()}"></span>!</p>&ndash;&gt;-->
    <!--    </div>-->
    <!--    <div th:unless="${#authorization.expression('isAuthenticated()')}">-->
    <!--        <p>You are not authenticated. Please <a href="/login">log in</a>.</p>-->
    <!--    </div>-->

    <img th:scr="@{/images/6-cuts.png}"/>
    <br>
    <img th:scr="@{/resources/static/images/6-cuts.png}"/>


    <form method="POST" th:object="${pizza}" th:action="@{/design}">
        <div class="grid">
            <div class="ingredient-group" id="veggies">
                <h3>Determine your veggies:</h3>
                <div th:each="ingredient : ${veggies}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.code}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="meats">
                <h3>Select your meat:</h3>
                <div th:each="ingredient : ${meat}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.code}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="cheeses">
                <h3>Select your cheese:</h3>
                <div th:each="ingredient : ${cheese}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.code}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="sauces">
                <h3>Select your sauce:</h3>
                <div th:each="ingredient : ${sauce}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.code}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
        </div>

        <div>
            <h3>Name your own pizza</h3>
            <input type="text" th:field="*{name}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}"
                  style="color:red">Pizza Name Error</span>
            <br/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('ingredients')}"
                  th:errors="*{ingredients}"
                  style="color:red">Ingredients Error</span>
            <!--            <button>Submit your pizza</button>-->
        </div>
        <br>
        <div class="input-group mb-3" style="width:50%;">
            <button type="submit" value="submit_pizza" class="btn btn-primary mb-3">Submit your pizza</button>
        </div>
    </form>

    <!--   <p><a href="/logout" />Logout</a>-->

    </p>
</div>
</body>
</html>