<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Cloud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Order your pizza</h1>

    <img th:src="@{/images/pizza-sliced.jpg}" style="width:25%"/>
    <!--    <img src="/static/pizza-sliced.jpg" alt="Pizza Sliced">-->


    <!--    <h3> Your pizzas in order:</h3>-->
    <!--    <a th:href="@{/design}" id="another">Design another pizza</a>-->

    <!--    <form th:action="@{/orders/remove}" method="post">-->
    <!--        <ul>-->
    <!--            <li th:each="pizza : ${pizzaOrder.pizzas}">-->
    <!--                <span th:text="${pizza.name}">pizza name</span>-->
    <!--                &lt;!&ndash;              <input type="hidden" name="name" th:value="${pizza.name}" />&ndash;&gt;-->
    <!--                <input type="hidden" name="id" th:value="${pizza.id}"/>-->
    <!--                <button type="submit">Delete</button>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </form>-->
    <!--    <br>-->
    <!--    &lt;!&ndash; Display deleted pizza info &ndash;&gt;-->
    <!--    <div th:if="${deletedPizzaId}">-->
    <!--        <p>Deleted Pizza ID: <span th:text="${deletedPizzaId}"></span></p>-->
    <!--        <p>Deleted Pizza Name: <span th:text="${deletedPizzaName}"></span></p>-->
    <!--    </div>-->
    <form th:action="@{/orders/remove}" method="post">
        <h3> Your pizzas in order:</h3>
        <a th:href="@{/design}" id="another">Design another pizza</a>
        <ul>
            <li th:each="pizza : ${pizzaOrder.pizzas}">
                <span th:text="${pizza.name}">pizza name</span>
                <span th:text="${pizza.id}">pizza id</span>
                <span th:text="${pizza.createdAt}">pizza created at</span>
                <input type="hidden" name="name" th:value="${pizza.name}"/>
                <button type="submit">Delete</button>
            </li>
        </ul>
    </form>
    <br>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzaOrder.pizzas}">
            <td th:text="${pizza.name}">Pizza Name</td>
            <td>
                <form th:action="@{'/orders/remove/' + ${pizza.name}}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${deletedPizza != null}">
        <p>Pizza <span th:text="${deletedPizza.name}">Deleted Pizza Name</span> has been deleted.</p>
        <form th:action="@{'/orders/undoRemove/' + ${deletedPizza.name}}" method="post">
            <button type="submit">Undo</button>
        </form>
    </div>

    <form method="POST" th:action="@{/orders}" th:object="${pizzaOrder}">

        <h3> Deliver my pizza to...</h3>

        <div class="input-group mb-3" style="width:25%;">
            <span class="input-group-text" id="basic-addon-del-name">delivery Name:</span>
            <input type="text" th:field="*{deliveryName}" name="deliveryName" id="deliveryName" class="form-control"
                   required title="You should enter the name of receiver"
                   aria-label="deliveryName:" aria-describedby="delivery Name">

            <!--        <label for="deliveryName"> delivery Name: </label>-->
            <!--        <input type="text" th:field="*{deliveryName}"/>-->

            <span class="validationError"
                  th:if="${#fields.hasErrors('deliveryName')}"
                  th:errors="*{deliveryName}"
                  style="color:red">Delivery Name Error</span>
        </div>

        <!--        <label name="deliveryCity">delivery City: </label>-->
        <!--        <input type="text" th:field="*{deliveryCity}"/>-->
        <div class="input-group mb-3" style="width:25%;">
            <span class="input-group-text" id="basic-addon-del-city">delivery City:</span>
            <input type="text" th:field="*{deliveryCity}" name="deliveryCity" id="deliveryCity" class="form-control"
                   required title="You should enter the name of receiver"
                   aria-label="deliveryCity:" aria-describedby="delivery City">

            <span class="validationError"
                  th:if="${#fields.hasErrors('deliveryCity')}"
                  th:errors="*{deliveryCity}"
                  style="color:red">Delivery City Error</span>
        </div>

        <!--        <label name="deliveryAddress">deliveryAddress: </label>-->
        <!--        <input type="text" th:field="*{deliveryAddress}"/>-->
        <div class="input-group mb-3" style="width:25%;">
            <span class="input-group-text" id="basic-addon-del-address">delivery Address:</span>
            <input type="text" th:field="*{deliveryAddress}" name="deliveryAddress" id="deliveryAddress"
                   class="form-control"
                   aria-label="deliveryAddress:" aria-describedby="delivery Address">
            <span class="validationError"
                  th:if="${#fields.hasErrors('deliveryAddress')}"
                  th:errors="*{deliveryAddress}"
                  style="color:red">Delivery Address Error</span>
        </div>

        <h3>Pay method</h3>

        <!--        <label name="ccNumber">Credit Card #:</label>-->
        <!--        <input type="text" th:field="*{ccNumber}">-->
        <div class="input-group mb-3" style="width:25%;">
            <span class="input-group-text" id="basic-addon-ccNumber">Card Number:</span>
            <input type="text" th:field="*{ccNumber}" name="Card Number" id="ccNumber" class="form-control"
                   aria-label="ccNumber:" aria-describedby="ccNumber">
            <span class="validationError"
                  th:if="${#fields.hasErrors('ccNumber')}"
                  th:errors="*{ccNumber}"
                  style="color:red">CC Num Error</span>
        </div>

        <!--        <label name="ccExpiration">Expiration:</label>-->
        <!--        <input type="text" th:field="*{ccExpiration}">-->
        <div class="input-group mb-3" style="width:25%;">
            <span class="input-group-text" id="basic-addon-ccExpiration">Expire Date:</span>
            <input type="text" th:field="*{ccExpiration}" name="Expiration Date" id="ccExpiration" class="form-control"
                   aria-label="ccExpiration:" aria-describedby="ccExpiration">
            <span class="validationError"
                  th:if="${#fields.hasErrors('ccExpiration')}"
                  th:errors="*{ccExpiration}"
                  style="color:red">CC Expiration Error</span>
        </div>


        <!--    <h3>Pay method</h3>-->
        <!--        <label name="ccCVV">CVV :</label>-->
        <!--        <input type="text" th:field="*{ccCVV}">-->
        <div class="input-group mb-3" style="width:25%;">
            <span class="input-group-text" id="basic-addon-ccCVV">CVV:</span>
            <input type="text" th:field="*{ccCVV}" name="CVV" id="ccCVV" class="form-control"
                   aria-label="ccCVV:" aria-describedby="ccCVV">
            <span class="validationError"
                  th:if="${#fields.hasErrors('ccCVV')}"
                  th:errors="*{ccCVV}"
                  style="color:red">CC CVV Error</span>
        </div>
        <br/>

        <input type="submit" class="btn btn-primary mb-3" value="Submit Order"/>

    </form>
</div>
</body>
</html>